<div>
    <h1>Chat en tiempo real</h1>
    <ul id="message-list">
        {{#each messages}}
        <li>
            <strong>{{@root.user}}</strong>: {{@root.message}}
        </li>
        {{/each}}
    </ul>

</div>

<div>
    <input type="text" id="username-input" placeholder="Nombre de usuario">
    <input type="text" id="message-input" placeholder="Escribe un mensaje...">
    <button id="send-message-button">Enviar</button>
</div>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/js/chat.js"></script>