<form action="http://localhost:3001/api/login" method="post">
    <input type="email" name="email" placeholder="email">
    <input type="text" name="password" placeholder="clave">
    <button value="submit">Ingresar</button>
</form>

<form action="/signup" method="get">
    <button value="submit">Registrarse</button>
</form>

<form action="/recover" method="get">
    <button value="submit">Recuperar contraseña</button>
</form>

<a href="/auth/github">Iniciar sesión con GitHub</a>