<form action="http://localhost:3001/api/recover" method="post">
    <input type="email" name="email" placeholder="email">
    <input type="text" name="password" placeholder="clave">
    <button value="submit">Recuperar contraseña</button>
</form>