<form action="http://localhost:3001/api/signup" method="post">
    <input type="text" name="first_name" placeholder="nombre">
    <input type="text" name="last_name" placeholder="apellido">
    <input type="email" name="email" placeholder="email">
    <input type="number" name="age" placeholder="edad">
    <input type="text" name="password" placeholder="clave">
    <button value="submit">Registrarme</button>
</form>